.selectedActors {
  background-color: #3f9c59;
  border-radius: 5px;
  overflow: hidden;
}
.cart-img {
  width: 60px;
  margin-right: 20px;
}
.button {
  padding: 10px 30px;
  background-color: #3f9c59;
  color: #fff;
  font-weight: 400;
  border: 0px;
  border-radius: 5px;
}
